
#homepage .section {
    width: 100%;
    max-width: 1000px;
    padding: 2em 1em;
    margin: 0 auto;
}

#homepage .factcard {
    border: 1px solid #ebe0d6;
    background-color: #fcfbf9;
    border-radius: 0.6em;
    overflow: hidden;
    margin: 1em 0;
}
.factcard h1 {
    margin: 0;
    font-size: 1.5em;
    font-weight: 500;
    flex: 1;
}
@media (max-width: 620px) {
    .factcard h1 {
        font-size: 1.2em;
    }
}

.factcard blockquote {
    margin-left: 0;
    margin-top: 0;
    padding-left: 2rem;
    border-left: 0.25rem solid #357edd;
    line-height: 1.5;
}


.factcard-header {
    padding: 16px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.factcard-header:hover {
    background-color: #f6f1ef;
    cursor: pointer;
}
.factcard-number {
    font-family: "Andale Mono", monospace;
    font-size: 24px;
    font-weight: 700;
    color: white;
    margin: 0 20px 0 4px;
    background-color: #b7d0f1;
    opacity: 1;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}
@media (max-width: 620px) {
    .factcard-number {
        font-size: 14px;
        width: 30px;
        height: 30px;
        margin: 0 16px 0 0;
    }
}
.factcard-number::after {
    content: '';
}

.factcard-content {
    padding: 0 20px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.1s ease, padding 0.1s ease;
}

.factcard.expanded .factcard-content {
    max-height: 500px;
    padding: 0 20px 20px 20px;
}



/* caret expander element for cards */
.caret-pseudo {
    position: relative;
    width: 24px;
    height: 24px;
    margin-left: 24px;
}

.caret-pseudo::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 10px;
    height: 10px;
    border-right: 2px solid #5f6368;
    border-bottom: 2px solid #5f6368;
    transform: translate(-50%, -65%) rotate(45deg);
    transition: transform 0.1s ease;
}

.factcard.expanded .caret-pseudo::before {
    transform: translate(-50%, -35%) rotate(-135deg);
}

/* video container */
.video-container {
    width: 100%;
    aspect-ratio: 16 / 9;
}

.video-container iframe {
    width: 100%;
    height: 100%;
}